body {
  background-image: url("https://img.freepik.com/free-vector/flat-comics-style-background_23-2148802587.jpg?w=1480&t=st=1700156199~exp=1700156799~hmac=595bd9bb6d55e1a6d756d0545ee159c420d75da68780fb945a15507cc78be01a");
  background-repeat: no-repeat;
  background-size: cover;
}
